<!--<h1>All Employee Details................</h1>
<app-add-emp></app-add-emp>
<app-emp-list></app-emp-list>
<app-data-binding></app-data-binding>
<app-structural-dir></app-structural-dir> 
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-link active"><a routerLink="add-emp">Add Employee</a></li>
      <li><a routerLink="structural-dir">Structural Directive</a></li>
      <li><a routerLink="emp-list">Emp List</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div> 
<app-pipe-learn></app-pipe-learn>  
<app-form-learn></app-form-learn> 
<app-reactive></app-reactive> -->
<app-get-api-call></app-get-api-call>